In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
import json

In [2]:
data = pd.read_csv("Kvalita_ovzduší_-_data_z_mobilních_stanic___Air_quality_on_site_measurements.csv")

In [3]:
data.head(5)

,OBJECTID,Lokalita,PM10,PM2_5,NO_,NO2,Nox,O3,SO2,CO,RychlostVetru,Vlhkost,Teplota,X,Y,Datum
0,1,CHR,15.125000,11.937500,1.031250,18.206250,19.806250,72.225000,4.375000,234.546667,1.468750,80.937500,6.143750,49.1259,16.655,2022/04/19 00:00:00+00
1,2,CHR,25.041667,20.791667,3.837500,20.400000,26.225000,42.500000,5.004167,247.004167,1.300000,68.000000,7.383333,49.1259,16.655,2022/04/20 00:00:00+00
2,3,CHR,25.791667,20.125000,2.258333,18.691667,21.687500,47.212500,5.325000,231.187500,1.308333,63.291667,10.658333,49.1259,16.655,2022/04/21 00:00:00+00
3,4,CHR,39.791667,29.375000,1.025000,22.695833,24.175000,48.054167,16.791667,331.025000,2.229167,80.250000,9.620833,49.1259,16.655,2022/04/22 00:00:00+00
4,5,CHR,20.208333,17.541667,0.183333,12.208333,11.933333,70.125000,5.866667,254.891667,1.841667,69.416667,12.575000,49.1259,16.655,2022/04/23 00:00:00+00

In [6]:
data[["PM10", "PM2_5", "NO_", "NO2", "Nox", "O3", "SO2", "CO", "Lokalita", "RychlostVetru", "Vlhkost", "Teplota" , "X" ,"Y", ]].groupby("Lokalita").mean()

,PM10,PM2_5,NO_,NO2,Nox,O3,SO2,CO,RychlostVetru,Vlhkost,Teplota,X,Y
Lokalita,,,,,,,,,,,,,
CHR,24.655725,16.322129,7.980248,16.801453,28.993439,51.014402,4.779887,247.320730,1.169927,74.652967,13.373549,49.1259,16.6550
JUN,19.689333,14.908478,9.682178,21.502982,36.343360,44.232177,5.107115,249.545783,0.191350,69.012847,12.007732,49.2078,16.5551
KLA,18.190438,11.738789,3.894370,12.326422,18.318557,59.921465,4.301223,187.382865,1.664107,75.602260,11.406066,49.2168,16.6809
KNI,14.534127,10.399178,5.574886,14.276079,22.828037,45.501894,5.120813,195.469229,0.471955,70.708298,13.609034,49.2362,16.5276
KOH,17.537037,11.910880,1.549846,10.404878,12.583063,71.725424,3.792754,181.845241,1.313233,70.054784,13.656983,49.1888,16.5534
KOM,17.970843,12.722019,8.078977,20.398234,32.784869,39.105587,5.230145,302.581512,0.501587,73.356277,12.701155,49.2177,16.5514
LIS,17.136161,11.106858,5.495407,16.828094,25.193067,57.494466,3.729129,215.478713,1.608727,73.811800,14.776433,49.1990,16.6703
MOH,14.551476,11.595856,8.888340,22.556862,36.192198,37.586326,5.033756,306.264037,0.760396,75.058045,9.808444,49.2616,16.5842
REC,15.329888,11.252564,5.808574,13.729087,22.642468,45.217949,5.055849,233.738251,0.568750,70.418349,10.013061,49.2448,16.5905
STY,18.538763,13.849621,10.397247,21.107702,36.985593,46.603929,4.239051,249.916793,1.294508,75.805429,11.420063,49.1734,16.5989
TUR,21.812618,16.046499,13.992984,23.589062,45.106255,44.964234,5.636890,319.027378,0.370347,67.951111,13.432818,49.1465,16.6668
ZID,23.816667,17.182955,5.033561,19.097727,26.591439,49.230530,4.655871,257.629053,0.907576,73.681818,10.791023,49.2020,16.6343

In [7]:
import datetime
def season_of_year(month, day):
    if month <= 2 or (month == 3 and day <= 21):
        return 1
    elif month <= 5 or (month == 6 and day <= 21):
        return 2
    elif month <= 8 or (month == 9 and day <= 21):
        return 3
    elif month <= 11 or (month == 12 and day <= 21):
        return 4
    else:
        return 1

data["Month"] = pd.to_datetime(data["Datum"]).dt.month
data["Day"] = pd.to_datetime(data["Datum"]).dt.day
data["Season"] = data.apply(lambda x: season_of_year(x['Month'], x["Day"]), axis=1)
data.head(5)

,OBJECTID,Lokalita,PM10,PM2_5,NO_,NO2,Nox,O3,SO2,CO,RychlostVetru,Vlhkost,Teplota,X,Y,Datum,Month,Day,Season
0,1,CHR,15.125000,11.937500,1.031250,18.206250,19.806250,72.225000,4.375000,234.546667,1.468750,80.937500,6.143750,49.1259,16.655,2022/04/19 00:00:00+00,4,19,2
1,2,CHR,25.041667,20.791667,3.837500,20.400000,26.225000,42.500000,5.004167,247.004167,1.300000,68.000000,7.383333,49.1259,16.655,2022/04/20 00:00:00+00,4,20,2
2,3,CHR,25.791667,20.125000,2.258333,18.691667,21.687500,47.212500,5.325000,231.187500,1.308333,63.291667,10.658333,49.1259,16.655,2022/04/21 00:00:00+00,4,21,2
3,4,CHR,39.791667,29.375000,1.025000,22.695833,24.175000,48.054167,16.791667,331.025000,2.229167,80.250000,9.620833,49.1259,16.655,2022/04/22 00:00:00+00,4,22,2
4,5,CHR,20.208333,17.541667,0.183333,12.208333,11.933333,70.125000,5.866667,254.891667,1.841667,69.416667,12.575000,49.1259,16.655,2022/04/23 00:00:00+00,4,23,2

In [8]:
data[["Lokalita", "Month", "Season"]].groupby(["Lokalita"]).agg(['mean', "median", "std", "count"])

             Month                           Season
              mean median       std count      mean median       std count
Lokalita
CHR       6.803571    7.0  3.094979    56  2.482143    2.5  0.972178    56
JUN       7.211538    8.0  3.566382    52  2.673077    3.0  1.248075    52
KLA       5.581818    5.0  2.865445    55  2.200000    2.0  0.950633    55
KNI       7.603774    8.0  3.170414    53  2.943396    3.0  1.116573    53
KOH       6.148148    6.0  2.851067    54  2.518519    2.5  0.863095    54
KOM       6.423077    6.0  2.972727    52  2.576923    3.0  0.871018    52
LIS       6.696429    7.0  3.421428    56  2.678571    3.0  1.222622    56
MOH       8.019231    9.0  3.489426    52  2.807692    3.0  1.205192    52
REC       5.096154    5.0  2.651375    52  2.076923    2.0  0.904155    52
STY       7.945455    9.0  3.428736    55  2.800000    3.0  1.176939    55
TUR       6.711538    7.0  2.992386    52  2.500000    3.0  0.959984    52
ZID       8.163636    9.0  3.095778    55  2.945455    3.0  1.112524    55

In [9]:
data[["Lokalita", "Month", "Season"]].groupby(["Lokalita", "Season"]).agg(['mean', "median", "std", "count"]).head(10)

                     Month
                      mean median       std count
Lokalita Season
CHR      1        6.900000    7.5  5.404730    10
         2        4.333333    4.0  0.685994    18
         3        7.315789    7.0  0.671038    19
         4       10.555556   10.0  0.881917     9
JUN      1        2.600000    3.0  0.736788    15
         2        5.000000    5.0  0.894427     6
         3        8.083333    8.0  0.514929    12
         4       11.000000   11.0  0.471405    19
KLA      1        2.071429    2.0  0.615728    14
         2        4.954545    5.0  0.485727    22

In [10]:
data_groupped = data[["PM10", "PM2_5", "NO_", "NO2", "Nox", "O3", "SO2", "CO", "X" ,"Y", "Season"]].groupby(["X", "Y", "Season"]).agg('mean')
data_groupped.head(6)

                             PM10      PM2_5        NO_        NO2        Nox  \
X       Y       Season
49.1259 16.6550 1       31.422917  27.420833  18.144167  20.521667  48.248125
                2       20.123843  13.953704   6.060185  18.803009  27.928588
                3       21.359649  11.078947   3.313596  12.898465  18.043860
                4       33.158769  19.796024  10.378949  16.904412  32.844826
49.1465 16.6668 1       30.511695  30.558998  24.661413  24.658072  62.671256
                2       20.001880  14.464289  12.595516  26.573715  45.913060

                               O3       SO2          CO
X       Y       Season
49.1259 16.6550 1       27.361042  6.461667  419.632708
                2       50.966204  5.960764  246.639051
                3       69.459649  2.816667  167.625439
                4       38.452342  4.694063  225.471950
49.1465 16.6668 1       26.238446  4.601188  527.984695
                2       45.674894  6.368589  313.321972

In [11]:
# Precomputing all values, this cell can take some time. If necessesary lower variable times to something smaller.

def count_value(x, y, season):
    filtered_season = data_groupped[data_groupped.index.map(lambda x: x[2] == season)]

    sum_dist = 0
    sum_value = {}
    for col in filtered_season:
        sum_value[col] = 0
        
    for i in filtered_season.index:
        dist2 = (i[0] - x) ** 2 + (i[1] - y ) ** 2
        for col in data_groupped:
            sum_value[col] += filtered_season[col][i] / dist2
        sum_dist += 1 / dist2

    for col in filtered_season:
        sum_value[col] /= sum_dist
        
    return sum_value


def calculate_data(times=50):
    left_upper_X = 49.2566
    left_upper_Y = 16.5253
    right_bottom_X = 49.1563
    right_bottom_Y = 16.6840
    
    new_data = pd.DataFrame()
    new_data["x"] = 0
    new_data["y"] = 0
    new_data["season"] = 0
    for col in data_groupped:
        new_data[col] = 0

    index_i = 0
    for x in [left_upper_Y + i * (right_bottom_Y - left_upper_Y) / times for i in range(times)]:
        for y in [left_upper_X + i * (right_bottom_X - left_upper_X) / times for i in range(times)]:
            for season in range(1, 5):
                row = {"x": x, "y": y, "season": season}
                row.update(count_value(y, x, season))
                new_data.loc[len(new_data)] = row

    return new_data

times=50
calculated_data = calculate_data(times=times)
calculated_data.head(10)

,x,y,season,PM10,PM2_5,NO_,NO2,Nox,O3,SO2,CO
0,16.5253,49.256600,1,18.347872,14.500609,6.742122,17.927623,28.268610,40.904867,6.431555,197.330055
1,16.5253,49.256600,2,16.106724,10.599202,4.701428,14.880035,22.046909,61.124280,5.090297,247.967645
2,16.5253,49.256600,3,13.199289,8.695897,5.299905,14.935091,23.068263,58.834528,3.908642,215.518593
3,16.5253,49.256600,4,16.459404,12.663002,8.038446,15.277933,27.604750,29.731996,5.082090,231.088010
4,16.5253,49.254594,1,18.238452,14.438252,6.589509,17.774018,27.881274,40.921630,6.518202,192.927890
5,16.5253,49.254594,2,16.085960,10.567020,4.615050,14.580218,21.619528,61.528660,5.066134,246.697485
6,16.5253,49.254594,3,13.180192,8.700468,5.226448,14.797300,22.818139,58.987534,3.887794,215.759031
7,16.5253,49.254594,4,16.249826,12.436122,7.949288,15.201369,27.391198,29.806630,5.092872,226.631141
8,16.5253,49.252588,1,18.117939,14.371770,6.431866,17.617699,27.483477,40.924651,6.610718,188.311526
9,16.5253,49.252588,2,16.056519,10.526485,4.521076,14.247713,21.148233,61.978253,5.039515,245.274023

In [12]:
from dash import Dash, html, dcc, Input, Output, dash_table
import plotly.graph_objects as go

app = Dash(__name__)

#*******APP LAYOUT**************

app.layout = html.Div(
    style={'backgroundColor':'#200010',
        'height': '100%',
        'color': 'white',
        'margin': 0,
        'padding': '18px',
         # 'background-image': 'url("/assets/brno_map.jpg")',
    }, 
    
    children=[
        #****************************HEADER*************************************
        html.H1(children='Air Pollution in Brno'),

        dcc.Markdown('### Visualization of harmful substances in the air measured by a mobile methodologist station'),
    
        html.Hr(),
    
        #****************************Controls*************************************
        html.Div(children=[
            'Fixed color range:', 
            dcc.RadioItems(['Fix', 'Auto'],
                       'Fix',
                       id='fix_scale',
                       inline=True)],
            style={'width': '100%', 'display': 'inline-flex'}
        ), 
        html.Hr(),

        html.Div(children=[
            'Substance:', 
            dcc.RadioItems(['PM10', 'PM2_5', 'NO_', 'NO2', 'Nox', 'O3', 'SO2', 'CO'], #options
                           'PM10', #
                           id='content',
                           inline=True)],
            style={'width': '100%', 'display': 'inline-flex'}
        ),
        html.Hr(),

        html.Div(children=[
            'Season of the Year:', 
            dcc.RadioItems(['Spring', 'Summer', 'Autumn', 'Winter'],
                       'Spring',
                       id='season',
                       inline=True)],
            style={'width': '100%',
                   'display': 'inline-flex', 
                  }
        ),
        html.Hr(),
        
#****************************Plots*************************************
        html.Div(
            dcc.Graph(id='map'), 
            style={
                   'width': '50%',
                   'height': '700px',
                   'display': 'inline-block'}
        ),

        html.Div(
            [dcc.Graph(id='substances')], 
            style={'width': '50%', 'height': '700px', 'display': 'inline-block'}),
        
        html.Div(
            dcc.Graph(id='timeline'), 
            style={
                   'width': '50%',
                   'display': 'inline-block'}
        ),
    ],
 )


def change_color(plotly_color, opacity=1.0):
    chgd_plotly_color=[]
    for color in plotly_color:
        color_string = color.replace('rgb', 'rgba')
        color_string = color_string.replace(')',f', {str(opacity)})')
        chgd_plotly_color.append(color_string)
    return chgd_plotly_color


def get_map(content, season, fix):
    left_upper_X = 49.2566
    left_upper_Y = 16.5253
    right_bottom_X = 49.1563
    right_bottom_Y = 16.6840
    season_dict = {"Winter":1, "Spring":2, "Summer":3, "Autumn": 4}

    range_max = max(calculated_data[content]) if fix=='Fix' else max(calculated_data[calculated_data["season"] == season_dict[season]][content])
    fig = px.density_heatmap(calculated_data[calculated_data["season"] == season_dict[season]],
                             x="x", y="y", z=content, histfunc="avg",
                             title=f"Content of {content} in Brno (µg/m³)",
                             nbinsx=times,
                             nbinsy=times,
                             range_color=(0, range_max),
                             height=700,
                            color_continuous_scale=change_color(px.colors.sequential.Reds, opacity=0.6),
                            )
        
    stations = list(set(map(lambda x: (x[0], x[1]), list(data_groupped.index))))
    stations = list(filter(lambda x: right_bottom_X <= x[0] <= left_upper_X and left_upper_Y <= x[1] <= right_bottom_Y, stations))  
    x0 = list(map(lambda x: x[1], stations)) 
    y0 = list(map(lambda x: x[0], stations))
    fig.add_trace(go.Scatter(
    x=x0,
    y=y0,
    mode='markers',
    text=["Methodogolist station" for k in x0],
    marker=dict(
        symbol='circle',
        opacity=0.7,
        color='black',
        size=8,
        line=dict(width=1),)
    ))
    
    fig.add_layout_image(
        dict(
            source="assets/brno_map_resize.jpg",
            xref="x",
            yref="y",
            x = left_upper_Y,
            y = left_upper_X,
            sizex=right_bottom_Y - left_upper_Y,
            sizey=right_bottom_X - left_upper_X,
            sizing="stretch",
            opacity=1,
            layer="below"))

    fig.update_layout(yaxis_title=None)
    fig.update_layout(xaxis_title=None)
    fig.update_xaxes(visible=False)
    fig.update_yaxes(visible=False)    
    return fig


def get_point_graph(x, y, season):
    season_dict = {"Winter":1, "Spring":2, "Summer":3, "Autumn": 4}
    d = calculated_data[calculated_data["season"] == season_dict[season]].copy()
    d["distance"] = (d["x"] - x) ** 2 + (d["y"] - y) ** 2
    
    closest = dict(d[d["distance"] == d["distance"].min()].iloc[0])
    true_x = closest["x"]
    true_y = closest["y"]
    closest.pop("x")
    closest.pop("y")
    closest.pop("season")
    closest.pop("distance")
    closest["CO * 10^-2"] = closest["CO"] / 1000
    closest["O3 * 10^-1"] = closest["O3"] / 10
    closest.pop("O3")
    closest.pop("CO")

    clean_air = {"PM10": 15,
                 "PM2_5": 5,
                 "NO_": 30,
                 "NO2": 10,
                 "Nox": 30,
                 "SO2": 40,
                 "CO * 10^-2": 40,
                 "O3 * 10^-1":10,
                }

    names = list(closest) + list(clean_air)
    values = [closest[k] for k in closest] + [clean_air[k] for k in clean_air]
    fig = px.bar(x=names, y=values, color=[f"lokality: {true_x:.4f}E {true_y:.4f}N" if i < 8 else "clean air" for i in range(16)], barmode="group", 
                 title=f"Content of substances at location {true_x:.4f}E {true_y:.4f}N",
                 labels={
                     "x": "Substance",
                     "y": "Content in the air (µg/m³)",
                     "color": "Type of data"
                 },
                 height=700,
                )

    fig.update_traces(marker_color=px.colors.sequential.Reds[2], selector={"name": "clean air"})
    fig.update_traces(marker_color=px.colors.sequential.Reds[-1], selector={"name": f"lokality: {true_x:.4f}E {true_y:.4f}N"})
    return fig


def get_timeline(x, y, season, content):
    season_dict = {"Winter":1, "Spring":2, "Summer":3, "Autumn": 4}
    d = data[data["Season"] == season_dict[season]].copy()
    d["distance"] = (d["X"] - y) ** 2 + (d["Y"] - x) ** 2
    closest = d[d["distance"] == d["distance"].min()].copy()
    closest["dayMonth"] = closest.apply(lambda row: f'{row["Day"]}. {row["Month"]}.', axis=1)

    if season == "Winter":
        closest["Month"] = closest["Month"].apply(lambda x: -1 if x == 12 else x)
    closest = closest.sort_values(by=["Month", "Day"])
    fig = px.line(closest, x="dayMonth", y=content, title=f'Values in time for methodologist station at {closest["Y"].iloc[0]}E {closest["X"].iloc[0]}N')

    fig.update_traces(line_color=px.colors.sequential.Reds[-1])
    return fig
    

@app.callback(
    Output('map', 'figure'),
    Input('content', 'value'),
    Input('season', 'value'),
    Input('fix_scale', 'value')
)
def update_map(content, season, fix):
    fig = get_map(content, season, fix)
    return fig


@app.callback(
    Output('substances', 'figure'),
    Input('map', 'clickData'),
    Input('season', 'value'),
)
def update_substances(clickData, season):
    x = 16.6086 #Brno Orloj coordinates
    y = 49.1948
    if clickData is not None:
        x = clickData["points"][0]["x"]
        y = clickData["points"][0]["y"]
    
    fig = get_point_graph(x, y, season)
    return fig


@app.callback(
    Output('timeline', 'figure'),
    Input('map', 'clickData'),
    Input('season', 'value'),
    Input('content', 'value'),
)
def update_timeline(clickData, season, content):
    x = 16.6086 #Brno Orloj coordinates
    y = 49.1948
    if clickData is not None:
        x = clickData["points"][0]["x"]
        y = clickData["points"][0]["y"]
    
    fig = get_timeline(x, y, season, content)
    return fig


#********RUNNING THE APP*************************************************
if __name__ == '__main__':
    app.run_server(jupyter_mode="external", debug=True, assets_folder='assets', assets_url_path='/assets/') # inline/tab/external

Dash app running on http://127.0.0.1:8050/